* {
    background-color: black;
}

body {
    background-color: black;
    margin: 0%;    
}

.container {
    display:flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

/* Feed */

.feed {
    flex: 0.4;
    border-right: 1px solid rgb(34, 32, 32);
    border-left:1px solid rgb(34, 32, 32);
    color: white;
    min-width: fit-content;
    margin-left:20%;
    
}

.feed__header {
    position: sticky;
    width: 490px;
    top: 0;
    
    z-index: 100;
    border: 1px solid rgb(34, 32, 32);
    padding-left: 15px;
    padding-bottom: 10px;
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ChirpBox */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chirpBox {
    padding-bottom: 10px;
    border-bottom: 8px solid rgb(34, 32, 32);
    padding-right:m 10px;
}

.chirpBox > form {
    display: flex;
    flex-direction: column;
}

.chirpBox__input {
    padding: 20px;
    display: flex;
}

.chirpBox__input > input {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}


/*TODO: add same styling from form buttons*/
.chirpBox__chirpButton { 
    background-color: rgb(34, 32, 32);
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    border-radius: 30px;
    width: 80px;
    height: 35px;
    margin-top: -32px;
    margin-bottom: 8px;
    margin-left: 390px;
}

.myicons a
{
    align-content: center;
    justify-content: center;
    width: 20px;
}
#file
{
    margin-left: 90px;
    margin-top: -10px;
}

/*Posts*/

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgb(34, 32, 32);
    padding-bottom: 10px;
}

.post__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__body > img {
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
/*Side Bar*/
.search-box
{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(34, 32, 32);
    height: 38px;
    width: 284px;
    border-radius: 40px;
    padding: 10px;
    top:5%;
    left:80%;
    margin-top:4px;
}

.search
{
    float:right;
    left:13px;
    margin-top: -2px;
    background-color: rgb(34, 32, 32);
    width:240px;
    border: none;
    color:white;
    outline:none;
}
#icon
{
    background-color: rgb(34, 32, 32);
    border-radius:50%;
    margin-top:3px;
    left: 13px;
    position:absolute;
    color:grey;
    display: flex;
    justify-content: center;
    align-items: center;

}

.newsfeed
{
    width:300px;
    margin-top: 67px;
    margin-left: 40px;;
    position: relative;
    width: 90%;
}

/* Sidebar */

.sidebarMaster {
    border-right: 1px solid black;
    flex: 0.3
}

.sidebar
{
    position: fixed;
    width: 240px;
    box-sizing: border-box;
    background: black;
    height: 100%;
    margin-top: 16px;

}
.sidebar a{
    display: block;
    height: 65px;
    color: white;
    width: 100%;
    line-height: 65px;
    padding-left: 30px;
    font-weight: bold;
    border-right:2px solid rgb(73, 71, 71);

    font-family: 'Open Sans',sans-serif;
    
}
#chirp
{
    width: 160px;
    height: 30px;
    margin-left: 0;
    border-color: #1DA1F2;
    background-color: #1DA1F2;
    border-left: 5px solid transparent;
    border-radius: 25px;
    padding: 10px;
   
}

a:hover
{
    border-left: 5px solid #1DA1F2;
}

.sidebar a i{
    margin-right: 16px;
}

@media(max-width:860px)
{
    .sidebar{
        height:auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    span 
    {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
    .sidebar a i
    {
        margin-left: -10px;

    }
    #chirp  
    {
        height:auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
        position: absolute;
        margin-left: 23px;
        opacity: 0;
    }
    a:hover{
        width: 200px;
        background:inherit;
        background-color: #1DA1F2;
    }
    .sidebar a:hover span
    {
        opacity: 1;
        visibility: visible;
    }
}

/* Widget */

.widgets {
    flex: 0.3;
    border-left: 1px solid black;
}